/* Subtheme variables */
/* =============== */
@base-font-family: OpenSans, sans-serif;
@base-font-size: 16px;
@border-radius-base: 5px;
@navbar-font-size: 11.5pt;
@navbar-hover-border-radius: @border-radius-base + 1;
@underline-border-image: url("../images/underline.png");
@text-size-hero-numbers: 16px;
@text-size-h2: 24px;
@btn-large-padding: 12px;

/* Colours */
/* ======= */

@core-cyan: #00aff0;
@core-dark-gray: #333;
@core-light-gray: #c9c9c9;
@core-lightest-gray: #f6f6f6;

@support-cyan: #23a1d4;
@support-gray: #b6aaa7;

@primary: @core-cyan;

@white: #fff;

.btn-navbar-reset{
  background: transparent;
  text-shadow: none;
  border: 0;
  box-shadow: none;
}

.nav-collapse-responsive{
  margin: 0 -40px -10px;
  padding: 0 40px;
}

.uppercase-lowercase{

  text-transform: lowercase;

  strong{
    font-weight: 400;
    text-transform: uppercase;
  }
}
.underline(){
  -moz-border-image: @underline-border-image 2 stretch;
  -webkit-border-image: @underline-border-image 2 stretch;
  border-image: @underline-border-image 2 stretch;
}
.footer-menu{
  @media (max-width:767px){
    text-align: center;
  }
  li{
    border: none;
    padding: 0;
    margin: 0 0 10px;
    font-weight: 700;
    @media (max-width:767px){
      margin: 0 10px;
    }

    @media (min-width:767px){
      display: block;
    }
  }
}

/* ======= */

html {
  background-color: @primary;
}

@media (max-width: 767px){
  body{
    padding: 0;
  }

  .row{
    padding-left: 30px;
    padding-right: 30px;
  }
}

.banner{
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6, .brand, .strapline, label, .btn, button, input, p.intro {
  font-family: @base-font-family;
}
h1 {
  margin-bottom: 6px;
}
h2,
#content h2,
#content .post .entry h2 {
  font-size: @text-size-h2;
  margin-bottom: @text-size-h2 - 19;
  margin-top: @text-size-h2 + 1;
}
h3,
#content .post .entry h3 {
  font-size:22px;
  line-height:24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

figure{
  margin: 0;
}

body,
body #content,
p,
#content p,
li,
#content li,
body.blog #content,
body.blog #content p,
body.blog #content li
#blog-single,
#blog-single p,
#blog-single li {
  font-size: @navbar-font-size;
  line-height: 22px;
  color: @core-dark-gray;
  font-family: @base-font-family;
}
p {
  margin-bottom:12px;
}
p.intro,
.home-page p.intro {
  font-size:24px;
  line-height:26px;
}

li {
  line-height: 22px;
}

a {
  color: @primary;
}

.btn{
  .uppercase-lowercase;
  font-weight: 700;
  strong{
    font-size: 11pt;
  }
}

.btn,
button,
a.group-button,
input[type="submit"],
input[type="reset"] {
  border-radius: @border-radius-base - 3;
  text-shadow: none;
}

.btn-large,
input[type=submit].btn-large,
input[type=reset].btn-large {
  border-radius: @border-radius-base;
  padding: (@btn-large-padding - 2) @btn-large-padding @btn-large-padding;
  font-size: 15pt;
}

.btn-primary,
button,
a.group-button,
input[type="submit"],
input[type="reset"] {
  background: @primary;
  border: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
button:hover,
a.group-button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  color: @core-dark-gray;
  background-color: @core-cyan;
}

a.group-button,
button,
input[type=reset],
input[type=submit] {
  font-size: inherit;
}

.btn-primary:active, .btn-primary.active {
  background-color: #00aff0 \9;
}

.btn-uppercase{
  text-transform: uppercase;
  font-size: @base-font-size - 5;
}

.btn-inverse {
  background-color: #FFF;
  background-image: -moz-linear-gradient(top, #FFF, #FFF);
  background-image: -ms-linear-gradient(top, #FFF, #FFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FFF));
  background-image: -webkit-linear-gradient(top, #FFF, #FFF);
  background-image: -o-linear-gradient(top, #FFF, #FFF);
  background-image: linear-gradient(top, #FFF, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#FFF', GradientType=0);
  border-color: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* Not modified, but ie seems to not render radius without it */
  color:@primary;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #FFF;
  color:@primary;
}
.btn-inverse:active, .btn-info.active {
  background-color: #FFF \9;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
  border-color: transparent;
  box-shadow: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(13, 177, 219, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(13, 177, 219, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(13, 177, 219, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(13, 177, 219, 0.6);
}

.well {

  h1{
    font-weight: 400;
    font-size: 40pt;
    line-height: 43pt;
    margin-bottom: 40px;

    strong{
      .underline;
      font-weight: 400;
      border-bottom: 1px solid @white;
      color: @primary;
    }
  }

  p{
    font-size: 18px;
    line-height: 24px;

    &:last-of-type{
      margin-bottom: 90px;
    }
  }

  @media (max-width: 767px){
    .btn{
      margin: 20px 0;
    }
  }

  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding: 0;
  background: transparent;
}

code {
  color: #06586d;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: @primary;
}


/* Header */
/* ====== */
.navbar{

  .btn-navbar{
    .btn-navbar-reset;
    text-transform: capitalize;

    &:hover{
      .btn-navbar-reset;
    }
  }
}

@media (min-width: 980px){
  .navbar{
    max-height: inherit;
  }

  .hero-buttons{
    margin-left: -40px;
  }
}

.navbar-inner {
  filter: none; /* IE6-9 */
  background-image: none;
  background-color: @primary;
  padding: 10px 40px;
}
.navbar .brand {
  color: #FFF;
  text-shadow: none;
}
.nav-collapse{
  background: @support-cyan;

  @media (max-width: 979px){
    &.collapse{
      .nav-collapse-responsive;
    }
  }

  &.in{
    .nav-collapse-responsive;

    .nav{
      padding: 20px 0;

      a{
        color: @core-dark-gray;

        &:hover{
          color: @white !important;
        }
      }
    }
  }
}

.navbar .nav > li > a {
  color: #FFF;
  text-shadow:none;
  font-family: @base-font-family;
  font-size: @navbar-font-size;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar .nav > li > a:hover {
  color:#FFF;
  background-color: @support-cyan;
  border-radius: @navbar-hover-border-radius @navbar-hover-border-radius 0 0;
}

/*.navbar .nav .sfhover{
  background: transparent;
}*/

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle{
  color: @core-dark-gray;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus{
  color: @core-dark-gray;
  background-color: transparent;
  box-shadow: none;
}

.dropdown-menu .active>a,
.dropdown-menu .active>a:hover,
.navbar .dropdown-menu li>a:hover{
  color: @white;
  background-color: transparent;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle{
  background-color: transparent;
  box-shadow: none;
}
.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-submenu:hover>a{
  background: transparent;
}

.navbar{
  .menu-item{
    &:hover{
      background-color: @support-cyan;
      border-radius: @navbar-hover-border-radius @navbar-hover-border-radius 0 0;
    }

    a:hover{
      background-color: @support-cyan;
    }
  }

  .dropdown-toggle{
    &:after{
      display: none;
    }
  }
  .dropdown-menu {
    overflow: hidden;
    background-color: @support-cyan;
    box-shadow: none;
    min-width: 230px;
    border-radius: 0 @navbar-hover-border-radius @navbar-hover-border-radius @navbar-hover-border-radius;
    padding: 0;

    .active{
      a{
        color: @white;
      }
    }

    a {
      color: @core-dark-gray;
      font-weight: 700;
      padding: 5px 10px;

      &:hover{
        background-color: @support-cyan;
      }
    }
  }
}
.okfn-ribbon {
  margin-left:10px;
}
.okfn-ribbon a {
  background-position: center -227px;
}
#okf-panel {
  border-bottom-color:#2D2D2D;
}

.navbar .navbar-inner .header-search a {
  background-color: #FFF;
  background-position: center -96px;
}
.navbar .navbar-inner .header-search a:hover,
.navbar .navbar-inner .header-search.active a {
  background-color: @core-dark-gray;
}
.navbar .navbar-inner .header-search .search-bar {
  background-color: #0DB1DB;
  border-top:solid 1px #0DB1DB;
}
.navbar .navbar-inner .header-search .search-bar input[type="submit"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#sidebar .widget.widget_search input[type=submit]{
  width: 15px;
  background: url("../images/search-button-alt.png") top left no-repeat;
}

.header-text{
  height: auto;
  margin-top: 0;
}


/* Banners */
/* ======= */
section.coloured,
section.coloured:before,
section.coloured:after {
  background-color: @core-dark-gray;
}

/* Widgets */
/* ======= */
#sidebar,
#sidebar p,
#sidebar li,
#sidebar .widget,
#sidebar .widget p,
#sidebar .widget li,
.single-post .container > .author-box.small p {
  font-size: 15px;
  line-height:20px;
}
#sidebar .widget {
  background-image: none;
  background-color: @core-lightest-gray;
  border-color: transparent;
  color: inherit;
  border-radius: @border-radius-base;
}
#sidebar .widget > ul li {
  border-top-color:fade(@primary, 35%);
}

#sidebar .widget h1,
#sidebar .widget h2,
#sidebar .widget h3,
#sidebar .widget h4,
#sidebar .widget h5,
#sidebar .widget h6 {
  color:@primary;
  font-size: 18px;
  margin-bottom:0px;
}
#sidebar .widget a {
  color: @core-dark-gray;
}
#sidebar .widget label {
  color: @core-dark-gray;
}
#sidebar .tb_tweet-info {
  color: @core-dark-gray;
}
#sidebar{
  .widgettitle{
    display: block;
    margin: 0 0 20px;
  }
}
.widget{
  .menu{
    .footer-menu;
  }
}

.gce-widget-grid .gce-calendar {
  border-color:#FFF;
}


.tweeter > ul li {
  padding:25px;
}
.tweeter > ul li:before,
.tweeter > ul li:after {
  font-family: @base-font-family;
  font-size:60px;
  position:absolute;
  color:#dbdbdb;
}
.tweeter > ul li:before {
  content:'\201C';
  top:40px;
  left:0px;
}
.tweeter > ul li:after {
  content:'\201D';
  bottom:0px;
  right:0px;
}
.tweeter > ul li a {
  color: @primary;
}


/* Table of Contents Plus Plugin */
/* ============================= */
#toc_container p.toc_title {
  font-family: @base-font-family;
}


/* Home */
/* ==== */
body > .container > .row section > .container {
  padding: 20px 0px;
}


/* Blog */
/* ==== */

body.single {
  background-color:#FFF;
}
.single-post .container .row .author-box,
.single-post .container .row .author-box p,
.single-post .container .row .date,
.single-post .container .row .post-utility {
  font-size:12px;
  line-height:18px;
}

.magazine,
.magazine p {
  font-size:13px; /* due to inline-block layout */
}
.magazine .featured .text p,
.magazine .post.preview .text p {
  line-height: 20px;
  font-size:16px;
}
.magazine .featured .ribbon {
  background-color: @primary;
}
.wp-caption-text,
#blog-single p.wp-caption-text {
  font-size: 14px;
}
.wp-caption-text,
#blog-single p.wp-caption-text,
.wp-caption-text a,
#blog-single p.wp-caption-text a {
  color: @core-dark-gray;
}


/* Footer */
/* ====== */
body > footer {

  @media (max-width: 980px){
    padding: 0 40px;
  }
  color: @white;
  background-color: @core-dark-gray;
  background-image: none;
}
body > footer > .inner {
  min-height:100px;
  padding:20px 0px;
  background-image:none;
}

footer{
  p,
  li{
    color: inherit;
  }

  .textwidget{
    font-size: inherit;
  }

  .widget{

    :first-child{
      margin-top: 0;
    }

    @media (max-width:767px){
      margin: 40px 0;
    }
  }

  .widgettitle{
    font-size: @text-size-hero-numbers - 2;
    margin-bottom: 20px;
  }
}

.subscribe-form{
  input[type="text"]{
    width: 95%;
  }
}

.okf-footer{
  border: none;
  font-size: inherit;
  @media (min-width:767px){
    padding: 0 0 0 20px;
  }

  a{
    opacity: inherit;
  }

  .container{
    width: auto;

    ul{
      .footer-menu;
    }
  }

}

.hero-numbers{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @support-gray;
  color: @core-cyan;
  font-size: @text-size-hero-numbers + 5;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 980px){
    font-size: @text-size-hero-numbers;
    flex-direction: row;
  }
}

.hero-numbers-block{

  font-weight: 700;
  .uppercase-lowercase;
  strong{
    font-size: @text-size-hero-numbers * 0.8;
  }

  @media (max-width: 980px){
    margin: 5px;

    strong{
      font-size: @text-size-hero-numbers;
    }
  }

  &:not(:last-child){
    margin-right: 20px;
  }

}


/* Mailing List */
/* ============ */
body > .tabbable.mailing-lists .nav li a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* Popups */
#bp-default .fsp_content {
  background-color: @primary;
  border-color: @core-dark-gray;
}
#bp-default .fsp_content #closediv {
  padding: 10px 0 2px 32px;
  right: -22px;
  background-image: url(../images/close-icon.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

.mailman-popup p {
  font-size:30px;
}

.xyz.mailman-popup .icon {
  background-position: center -100px;
}
.xyz.mailman-popup p {
  color:#FFF;
}
.xyz.mailman-popup .field input {
  border:none;
}
.xyz.mailman-popup .btn {
  background-color:#FFF;
  background-image:none;
  color:@primary;
  -webkit-border-radius: 5 * @border-radius-base;
  border-radius: 5 * @border-radius-base;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 40px;
}



/* Thumbnails */
/* ========== */
.thumbnail,
a.thumbnail:hover {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.thumbnail {
  background-color:fade(@primary, 13%);
}
a.thumbnail:hover {
  background-color:fade(@primary, 20%);
}
.thumbnail > .row img {
  border:solid 3px #FFF;
}


a.sidelink:after {
  background-color: @primary;
}
a.sidelink:hover:after {
  background-color: @primary;
}

.slideshow-window{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  overflow: hidden;

}

.slideshow-slide{
  img{
    width: 100%;
    opacity: 0.2;
  }
}

body div.slideshow-window * img{
  max-height: inherit;
}

.slideshow-controls{
  display: none;
}

.list-inline{
  list-style: none;
  margin-left: inherit;

  li{
    margin-left: inherit;
    display: inline-block;
  }
}

.latest{
  padding: 10px 0 40px;
  background: @core-lightest-gray;

  h2{
    .uppercase-lowercase;
    font-weight: 400;
    color: @core-cyan;
    margin-bottom: 20px;

    strong{
      font-size: @text-size-h2 - 5;
    }
  }

  .post-wrap{
    overflow: hidden;
    background-color: @white;
    border-radius: @border-radius-base;
  }

  .post-meta-wrap{
    padding: 20px;

    .trimmed{
      max-height: 130px;
      margin-bottom: 20px;
    }

    h3{
      &.trimmed{
        max-height: 50px;
      }
    }

  }

  .post-meta{
    font-size: 12px;
  }

  .image{
    max-height: 150px;
    overflow: hidden;
  }
}